<div class="modal fade" id="forgottenPassword" tabindex="-1" role="dialog"
     aria-hidden="true" aria-labelledby="forgottenPassword">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ml-4 mt-3 mb-2">Zapomniałem hasła</h5>
                <button type="button" class="close pr-4" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-4 ml-5 mr-5">

                Wprowadź adres email powiązany z twoim kontem. Wyślemy na niego wiadomość z linkiem do resetu hasła.
                <div class="row mt-4 justify-content-around">
                    <input type="email" class="form-control form-control-md rounded-0 mx-auto col-9"
                              placeholder="Wprowadź email" ng-model="usersEmail"></input>
                    <button type="button" class="btn btn-primary mr-auto ml-1"
                            ng-click="requestPasswordReset(usersEmail)">Resetuj hasło</button>            </div>
                    <div class="invalid-feedback">Wprowadź email!</div>
                </div>

            <div class="modal-footer justify-content-start ml-4">
                <button type="button" class="btn btn-link" data-dismiss="modal">Anuluj</button>
            </div>

        </div>
    </div>
</div>