<nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand ml-2 mr-4 pl-2 pr-2" href="#">
        <b>
            <i class="fas fa-home"></i> Współogarniacz
        </b>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown active" ng-if="isLogged()">
                <button type="button" class="btn btn-info my-2 my-sm-0 dropdown-toggle" id="accountNavbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-cog"></i> Konto
                </button>
                <div class="dropdown-menu" aria-labelledby="accountNavbarDropdown" ng-controller="userController">
                    <a class="dropdown-item" href="/#password-change">Zmień hasło</a>
                    <a class="dropdown-item" ng-click="deregister()">Usuń konto</a>
                </div>
            </li>

            <li class="nav-item dropdown" ng-if="isUserAdministrator()">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administrator
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/#user-form">Utwórz użytkowników</a>
                    <a class="dropdown-item" href="/#user-list">Zarządzaj użytkownikami</a>
                </div>
            </li>


        </ul>

        <ng-include ng-if="isLogged()" src="'public/logoutButton.html'"></ng-include>

    </div>
</nav>