<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Współogarniacz</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Quicksand:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="public/style/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

</head>
<body ng-app="app" ng-controller="appController">


    <ng-include src="'public/navbar.html'"></ng-include>

    <div class="container col-md-12">

        <ng-include ng-if="!isLogged() && !isAnyPage()" src="'public/loginPanel.html'"></ng-include>

        <ng-include ng-if="isPage(pages.register)" src="'public/registrationPanel.html'"></ng-include>

        <ng-include ng-if="isPage(pages.confirmRegistration)" src="'public/confirmRegistrationPanel.html'"></ng-include>

        <ng-include ng-if="isPage(pages.passwordReset)" src="'public/passwordResetPanel.html'"></ng-include>

        <ng-include ng-if="isPage(pages.passwordChange)" src="'public/passwordChange.html'"></ng-include>

        <ng-include ng-if="isPage(pages.success)" src="'public/successPanel.html'"></ng-include>

    </div>

    <script>
            app = angular.module("app", ["ngCookies", "ngRoute"]);
    </script>

    <script src="public/js/appController.js"></script>
    <script src="public/js/userController.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>